/* Estilização do Body da página*/
* {
    margin: 0;
    border: 0;
  }
  
  body {
    background-color: #fff0dd;
  }
  
  /* Estilização do header da página*/
  header {
    background-color: #2a4f3d;
    height: 202px;
  }
  
  /* Estilização da Logo*/
  .logo {
    height: 202px;
    margin-left: 70px;
  }
  
  /* Estilização da nav-bar*/
  nav {
    font-size: 28px;
    top: 60px;
    position: absolute;
    font-family: "Cormorant Garamond", serif;
    right: 10px;
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    text-decoration: none;
    color: #d4af37;
    font-family: "Cormorant Garamond", serif;
    font-size: 40pt;
    top: 20px;
    margin-right: 20px;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #2e5743;
    border-radius: 25px;
  }
  
  .title_default {
    text-align: center;
    padding: 10px 10px 0px 10px;
    font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    color: #2a4f3d;
    font-size: 35pt;
  }





















  /* Footer */

footer {
    background-color: #2a4f3d;
    color: #ffffff;
    height: 202px;
    font-family: "Lora", serif;
  }
  
  .title_footer {
    font-size: 30pt;
  }
  .contact_footer {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 55px;
  }
  
  .contatos {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 80px;
    font-size: 15pt;
    font-style: italic;
  }
  
  footer li {
    display: inline;
  }
  
  footer a {
    color: #ffffff;
  }